@import "./_reset.scss";
@import "./_variables.scss";

nav {
  display: flex;
  justify-content: center;
  background-color: var(--card);
  color: white;

  div {
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: var(--card);
      background-color: var(--navbarhover);
      font-weight: 600;
    }
  }
}

@media (max-width: 834px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}